<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.member.Member">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into member_info values
        (#{name}, #{login_id}, #{login_pw})
    </insert>

    <select id="findAll">
        select *
        from member_info
    </select>

    <select id="findById">
        select *
        from member_info
        where id = #{member_id}
    </select>

    <update id="update">
        update member_info
        set name = #{name},
            login_id = #{login_id},
            login_pw = #{password}
        where id = #{member_id}
    </update>

</mapper>


