<!DOCTYPE html>
<html th:replace="~{template/layout/templateLayout::layout(~{::section#add_template}, ~{::section#add_columns}, ~{::section#update_columns}, ~{::section#save_template})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!-- ADD TEMPLATE FORM -->
<section id="add_template">
    <script>
        function toggle_checkbox(checkbox_id) {
            const checkbox = $('#' + checkbox_id);
            const checked = checkbox.is(':checked');
            console.log(checked);
            if (checked) {
                checkbox.prop('checked', false);
            } else {
                checkbox.prop('checked', true);
            }
        }
        function toggle_form(toggle_id, form_id){
            console.log(this);
            $('#' + toggle_id).toggle('slow');
            submit_form(form_id);
        }
    </script>
    <style>
        root{
            color: black;
        }
        .accordion-button{
            background-color: beige!important;
            color: black;
        }
    </style>
    <!-- ADD TEMPLATE ATTRIBUTE -->
    <div class="template-form base pop-up" style="width: 1200px;">
        <div class="py-5 text-center d-sm-flex justify-content-center align-items-center">
            <h2 style="color: black; font-weight: lighter; font-size: 35px;">BUILD QUERY</h2>
            <img src="/images/template.png" class="py-4 card-img" style="width:100px; height:150px; border:none;">
        </div>
        <div class="row">
            <div class="col container" style="background-color: lightyellow">
                <textarea rows="15" cols="90" style="border: solid 5px floralwhite" th:placeholder="${template.SQLForm.sqlQuery}"></textarea>
            </div>
            <div class="col-3 container">
                <div th:insert="~{/fragment/form::query(${form_url})}" th:with="form_url=|/template/query/execute_query/${memberId}|"></div>
                <form id="result_query" th:action="|/template/query/execute_query/${memberId}|" method="post"
                      th:object="${template.SQLForm}">
                    <input type="hidden" class="form-check-input form-control" th:name="sqlBlockList">
                    <br>
                    <br>
                    <button type="submit" class="w-50 btn-dark btn">SQL 쿼리 실행</button>
                    <br>
               </form>
               <br>
            </div>
        </div>
        <div th:replace="~{/fragment/form::query-column}"></div>
    </div>
    <!-- ADD TEMPLATE FILE FORM -->
    <div class="template-form border-white add pop-hide">
        <div class="container border-white" style="width:500px">
            <div class="text-center" th:insert="~{/fragment/form::file-search-form(action=|/template/query/search_entity/${memberId}|, table_id='join-section', form_id='file-search-form', anchor_class='template-form')}"></div>
            <hr>
            <div id="join-section" class="text-center" th:insert="~{/fragment/form::template-display-form(templates=${templates}, action=|/template/query/add_entity/${memberId}|, table_id='add_template', form_id='template-view-form')}"></div>
        </div>
    </div>
</section>

<!-- EDIT COLUMN FORM -->
<section id="update_columns">

</section>

<section id="add_columns">
</section>

<section id="save_template">
    <div class="template-form pop-up row">
        <p>Query Result</p>
        <div th:insert="~{/fragment/frame::view_template(${@spreadSheetUtils.getEmbeddableSpreadSheetURL(sourceId)})}"></div>
    </div>
    <form id="file-export-form">
        <button>파일 저장</button>
    </form>
</section>

</body>
</html>
