<!DOCTYPE html>
<html th:replace="~{template/layout/templateLayout :: layout(~{::section#add_template}, ~{::section#add_columns}, ~{::section#update_columns}, ~{::section#save_template})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <section id="add_template" class="container-xxl">
        <div class="row container-xl">
            <div class="col container">
                <div th:if="${spreadSheetSrcUrl}!=null">
                    <form id="spreadsheet_form" th:action="|/template/entity/sync_entity/${memberId}|" th:object="${spreadSheetTableForm}" method="POST">
                        <div class="container flex-box" style="width:700px; border:none" th:with="baseUrl=|${spreadSheetSrcUrl}/edit?usp=sharing&amp;widget=true&amp;headers=false|">
                            <iframe th:src="${baseUrl}" id="spreadsheet" title="spreadsheet" width="600px" height="500px" style="display:inline;"></iframe>
                            <img src="/images/loading.gif" style="width:40px; margin-top:20px;">
                        </div>
                    </form>
                </div>
                <div th:unless="${spreadSheetSrcUrl}!=null">
                    <div class="py-5 text-center flex-container" style="justify-content:center; align-items:center;">
                    <img src="/images/drive.png" class="py-4 card-img" style="width:100px; height:150px; border:none;">
                    </div>
                </div>
            </div>
            <div class="col container" style="background-color: mediumspringgreen">
                <form id='template_add_form' th:if="${template.spreadSheetTitle==null}" th:action="@{/template/entity/add_entity/{memberId}(memberId=${memberId})}" th:object="${template}" method="POST">
                    <div th:replace="~{/fragment/form::entity}"></div>
                </form>
                <form id='template_sync_form' th:unless="${template.spreadSheetTitle==null}" th:action="@{/template/entity/sync_entity/{memberId}(memberId=${memberId})}" th:object="${template}" method="POST">
                    <div th:replace="~{/fragment/form::entity}"></div>
                </form>
            </div>
        </div>
    </section>

    <section id="update_columns">
            <!-- EDIT COLUMN FORM -->
            <form id="edit_column" th:action="|/template/entity/edit_column/${memberId}|" method="POST" th:object="${columnUpdateForms}" th:if="${columnUpdateForms}">
                <div th:each="column, stat: *{columnUpdateFormList}" style="border:none;">
                    <div class="row container-xl">
                        <div class="col container" style="margin-left: 10px;">
                            <div class="row">
                                <div class="col">
                                    <div th:object="${searchCondDto}">
                                        <div th:if="${#fields.hasGlobalErrors()}">
                                            <p class="field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}">글로벌 오류 메시지</p>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="name" th:text="#{template.name}">템플릿 이름</label>
                                                <input type="text" id="search-engine" th:field="*{name}" class="form-control" th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.name}">
                                                <div th:replace="/fragment/table::entitySearchEngine('\'' + ${entities} + '\'')"></div>
                                            </div>
                                        </div>
                                        <div class="field-error" th:errors="*{entityName}">엔티티 이름 오류</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="update__name" th:text="#{column.name}"></label>
                                    <input type="text" id="update__name" th:field="*{columnUpdateFormList[__${stat.index}__].name}" class="form-control">
                                    <label th:for="|update__type__${stat.index}|" th:text="#{column.type}"></label>
                                    <input type="text" th:id="|update__type__${stat.index}|" th:field="*{columnUpdateFormList[__${stat.index}__].type}" class="form-control">
                                    <div th:insert="/fragment/table::columnTypes (input_id=|update__type__${stat.index}|, form_id='edit_column')" th:classappend="|select-bar column__type${stat.index}|"></div>
                                </div>
                                <div class="col-sm">
                                    <button type="button" class="button_add" th:data-input="|condition.column__${stat.index}.row|" onclick="toggle_by_class(this.getAttribute('data-input'))" >
                                        <img src="/images/add_doc.png" style="width:20px; height:20px;" alt="no image">
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <!-- EDIT KEY CONDITION-->
                                    <h6>등록된 키 조건</h6>
                                    <div class="row" th:each="keyCondition, substat: *{columnUpdateFormList[__${stat.index}__].keyConditions}">
                                        <div class="col">
                                            <label th:text="#{column.keyCondition}"></label>
                                            <input class="form-control-sm" th:id="|update_key_condition_type${stat.index + '-' + substat.index}|" th:field="*{columnUpdateFormList[__${stat.index}__].keyConditions[__${substat.index}__].conditionType}">
                                            <img src="/images/minus.gif" width="30" height="30" style="margin-top:20px;" th:data-input="|update_key_condition_type${stat.index + '-' + substat.index}|" onclick="submit_value_form(this.getAttribute('data-input'), 'NULL', 'edit_column')"></img>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <!-- EDIT VALUE CONDITION-->
                                    <h6>등록된 키-값 조건</h6>
                                    <div th:each="valueCondition, substat: *{columnUpdateFormList[__${stat.index}__].getValConditions}">
                                        <div class="col">
                                            <label th:for="|update_val_condition_type${stat.index + '-' + substat.index}|" th:text="#{column.valueConditionType}"></label>
                                            <input th:id="|update_val_condition_type${stat.index + '-' + substat.index}|" th:field="*{columnUpdateFormList[__${stat.index}__].getValConditions[__${substat.index}__].conditionType}" class="form-control-sm">
                                            <br>
                                            <label for="update_val_condition_term" th:text="#{column.valueConditionTerm}"></label>
                                            <input id="update_val_condition_term" th:field="*{columnUpdateFormList[__${stat.index}__].getValConditions[__${substat.index}__].conditionTerm.argument}" class="form-control-sm">
                                            <img src="/images/minus.gif" width="30" height="30" style="margin-top:20px;" th:data-input="|update_val_condition_type${stat.index + '-' + substat.index}|" onclick="submit_value_form(this.getAttribute('data-input'), 'NULL', 'edit_column')"></img>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col container">
                            <div th:class="|condition column__${stat.index} row|">
                                <div class="row" style="margin-left:3px;">
                                    <div style="width:100px; font-size:large; color: white; border-radius: 5px; border-left: 1px solid #0d6efd; border-right: 2px solid #0d6efd; border-top: 2px solid #0d6efd; background-color:#0d6efd;" th:class="|col key column__${stat.index}|" th:data-input="|condition-key.column__${stat.index}.sub-container|" th:another-data-input="|condition-val.column__${stat.index}.sub-container|"
                                         th:button-input="|col.key.column__${stat.index}|" th:another-button-input="|col.val.column__${stat.index}|" onclick="toggle_header(this.getAttribute('data-input'), this.getAttribute('another-data-input'), this.getAttribute('button-input'), this.getAttribute('another-button-input'))">
                                        <a>key 섹션</a>
                                    </div>
                                    <div style="width:100px; font-size:large; border-radius: 5px; border-bottom: 2px solid #0d6efd;" th:class="|col val column__${stat.index}|" th:data-input="|condition-val.column__${stat.index}.sub-container|" th:another-data-input="|condition-key.column__${stat.index}.sub-container|"
                                         th:button-input="|col.val.column__${stat.index}|" th:another-button-input="|col.key.column__${stat.index}|" onclick="toggle_header(this.getAttribute('data-input'), this.getAttribute('another-data-input'), this.getAttribute('button-input'), this.getAttribute('another-button-input'))">
                                        <a>value 섹션</a>
                                    </div>
                                </div>
                                <br>
                                <div th:class="|condition-key column__${stat.index} sub-container|">
                                    <h6>새로 추가할 조건</h6>
                                    <!-- ADD KEY CONDITION FORM -->
                                    <div class="row">
                                        <div class="col">
                                            <label th:for="|key_condition_type${stat.index}|" th:text="#{column.keyCondition}"></label>
                                            <input th:id="|key_condition_type${stat.index}|" th:field="*{columnUpdateFormList[__${stat.index}__].keyConditionSaveForm.conditionType}" th:placeholder="#{required.columnSaveForm.keyConditionTypes}" class="form-control-sm">
                                            <div th:insert="template/accordions :: keyConditionTypes (|key_condition_type${stat.index}|, |save_key_condition_form${stat.index}|)" th:classappend="|select-bar key-condition ${stat.index}|"></div>
                                            <input type="hidden" th:name="*{columnUpdateFormList[__${stat.index}__].keyConditionSaveForm.columnName}" th:value="${column.name}">
                                        </div>
                                        <div class="col">
                                            <button class="accordion-button" type="button" style="margin-top:20px;" th:data-input="|select-bar.key-condition.${stat.index}|" onclick="toggle_by_class(this.getAttribute('data-input'))"></button>
                                        </div>
                                        <div class="col-sm">
                                            <button class="w-100 btn btn-primary btn-sm" style="width:100px; margin-top:20px;">등록</button>
                                        </div>
                                    </div>
                                </div>
                                <div th:class="|condition-val column__${stat.index} sub-container|" style="display:none;">
                                    <h6>새로 추가할 조건</h6>
                                    <!-- ADD VALUE CONDITION FORM -->
                                    <div class="row">
                                        <div class="col">
                                            <label th:for="|val_condition_type${stat.index}|" th:text="#{column.valueConditionType}"></label>
                                            <input th:id="|val_condition_type${stat.index}|" th:field="*{columnUpdateFormList[__${stat.index}__].valConditionSaveForm.conditionType}" class="form-control-sm" th:placeholder="#{required.columnSaveForm.valueConditionTypes}">
                                            <div th:insert="template/accordions::valueConditionTypes (|val_condition_type${stat.index}|, |val_condition_term${stat.index}|)" th:classappend="|select-bar condition-val${stat.index}|"></div>
                                            <label th:for="|val_condition_term${stat.index}|" th:text="#{column.valueConditionTerm}"></label>
                                            <input th:id="|val_condition_term${stat.index}|" th:field="*{columnUpdateFormList[__${stat.index}__].valConditionSaveForm.conditionTerm}" class="form-control-sm" th:placeholder="#{required.columnSaveForm.valueConditionTerms}">
                                            <input type="hidden" th:name="*{columnUpdateFormList[__${stat.index}__].valConditionSaveForm.columnName}" th:value="${column.name}">
                                        </div>
                                        <div class="col">
                                            <button class="accordion-button" style="margin-top: 20px;" type="button" th:data-input="|select-bar.condition-val${stat.index}|" onclick="toggle_by_class(this.getAttribute('data-input'))"></button>
                                        </div>
                                        <div class="col-sm">
                                            <br>
                                            <button class="w-100 btn btn-primary btn-sm" style="width:100px">등록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </section>
    <section id="add_columns">
        <div class="container" style="width:800px;" th:if="${template.spreadSheetTable!=null}">
            <form id="column_add_form" th:action="|/template/entity/add_column/${memberId}|" method="POST" th:object="${columnSaveForm}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}">글로벌 오류 메시지</p>
               </div>
                <div class="row">
                    <div class="col">
                        <label for="name" th:text="#{column.name}"></label>
                        <input type="text" id="name" th:field="*{name}" class="form-control" th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.name}">
                        <div th:replace="/template/tables::columnEntry('name','column-save')"></div>
                        <div class="field-error" th:errors="*{name}">칼럼 이름 오류</div>
                        <br>
                        <label for="type" th:text="#{column.type}"></label>
                        <input type="text" id="type" th:field="*{type}" class="form-control" th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.type}">
                        <div class="field-error" th:errors="*{type}">칼럼타입 오류</div>
                    </div>
                    <div class="col-sm">
                        <button type="button" style="margin-top: 265px;" class="accordion-button"></button>
                    </div>
                    <div class="col-sm">
                        <div>
                            <button class="w-100 btn btn-dark" style="margin-top: 265px" type="submit" name="submit" value="add" th:text="#{add.column}">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section id="save_template">
        <div class="container border-white" style="width:500px;" th:if="${template.spreadSheetTable != null}">
            <div class="row">
                <div class="col">
                    <form th:action="|/template/entity/save_template/${memberId}|" method="GET">
                        <button class="w-100 btn btn-dark" value="save" th:text="#{save}">
                        </button>
                    </form>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-dark" th:onclick="|location.href='@{/}'|" th:text="#{return}">
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
