<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.repository.template.mapper.ColumnMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into column values
            #{column.template_id}, #{column.entity_id}, #{column.name}, #{column.type}
    </insert>

    <insert id="batchSave" parameterType="com.example.demo.domain.column.Column"
            useGeneratedKeys="true" keyProperty="id">
        insert into column values
        <foreach collection="list" item="column" separator="," open="(" close=")">
            #{column.template_id}, #{column.entity_id}, #{column.name}, #{column.type}
        </foreach>
    </insert>

    <select id="findByTemplateId" resultType="com.example.demo.domain.column.Column">
        select *
        from column
        where column.template_id = #{template_id}
    </select>

    <select id="findById" resultType="com.example.demo.domain.column.Column">
        select *
        from column
        where id = #{column_id} = #{column_id}
    </select>

    <update id="update">
        update column
        set name = #{name},
            type = #{type},
            cond = #{cond}
        where id = #{column_id}
    </update>
</mapper>

