<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form th:fragment="entity(action)" th:action="${action}" method="POST" th:object="${template}">
    <div class="entity-form-group">
        <label for="entity-name" th:text="#{template.name}"></label>
        <input type="text" id="entity-name" class="w-50 form-control" th:field="*{name}" th:errorclass="field-error"
               th:placeholder="#{template.name}">
        <div class="field-error" th:errors="*{name}"></div>
        <div th:if="${errors ne null and errors.get('name').isPresent()}" class="field-error"
             th:text="${errors.get('name').get()}"></div>
        <br>
        <label for="entity-type" style="display:block;" th:text="#{template.type}"></label>
        <input type="text" id="entity-type" class="w-50 form-control" th:field="*{type}"
               th:placeholder="#{template.type}"
               readonly>
        <div class="row">
            <div class="col">
                <label for="entity-sheet-title" th:text="#{spreadsheet.title}"></label>
                <input id="entity-sheet-title" class="w-50 form-control d-inline-block" th:field="*{spreadSheetTitle}"
                       th:errorclass="field-error">
                <div th:if="${errors ne null and errors.get('spreadSheetTitle').isPresent()}" class="field-error"
                     th:text="${errors.get('spreadSheetTitle').get()}"></div>
                <button style="width:120px; height:40px;" type="button" data-anchor-class="template-form"
                        class="btn btn-primary btn-sm"
                        onclick="toggle_popup(this.getAttribute('data-anchor-class'), 'add')">파일 불러오기
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="search-range" th:text="#{spreadsheet.range}"></label>
                <input type="text" id="search-range" class="w-50 form-control d-inline-block"
                       th:field="*{spreadSheetRange}"
                       th:errorclass="field-error" th:placeholder="#{required.spreadsheet.range}">
                <div th:if="${errors ne null and errors.get('spreadSheetRange').isPresent()}" class="field-error"
                     th:text="${errors.get('spreadSheetRange').get()}"></div>
                <button style="width:120px; height:40px;" type="submit" class="btn btn-primary btn-sm"
                        onclick="confirm_alert()">파일 동기화
                </button>
            </div>
        </div>
        <br>
        <button class="w-50 btn btn-primary" type="button" data-anchor-class="template-form"
                onclick="toggle_popup(this.getAttribute('data-anchor-class'), 'join')">템플릿 조인
        </button>
        <div th:if="${#fields.hasErrors()}">
            <p class="field-error" th:each="err : ${#fields.allErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
    </div>
</form>

<!--QUERY FORM-->
<form th:fragment="query(action)" th:action="${action}" method="POST" th:object="${template}">
    <label for="query-name" th:text="#{template.name}"></label>
    <input type="text" id="query-name" class="w-50 form-control" th:field="*{name}" th:placeholder="#{template.name}" readonly>
    <br>
    <label for="query-type" style="display:block;" th:text="#{template.type}"></label>
    <input type="text" id="query-type" class="w-50 form-control" th:field="*{type}" th:placeholder="#{template.type}"
           readonly>
    <div class="row">
        <div class="col">
            <label for="query-sheet-title" th:text="#{spreadsheet.title}"></label>
            <input id="query-sheet-title" class="w-50 form-control d-inline-block" th:field="*{spreadSheetTitle}">
            <br>
            <br>
        </div>
    </div>
</form>

<form th:fragment="validation" id="validation-form" th:action="|/template/entity/edit_column/${memberId}|"
      th:object="${columnUpdateForm}"
      onsubmit="return ajax_form(form_id=this.getAttribute('id'), form_url=this.getAttribute('action'))">
    <div class="row">
        <div class="col">
            <div th:insert="fragment/frame::view_template(${sourceId})"></div>
        </div>
        <div class="col">
            <div th:if="${errors ne null and !errors.isEmpty()}">
                <div class="field-error" th:each="error : ${errors.getParamMap()}">
                    <p th:each="err: ${error.value}" th:text="${err}"
                       th:if="${@errorsMappingUtils.matchColumn(err, column.name)}"></p>
                </div>
            </div>
        </div>
    </div>
</form>

<form th:fragment="join(column, index)" th:id="|join-column${index}|" method="post"
      th:action="|/template/entity/join_template/${memberId}|" data-table="edit-column"
      onsubmit="return ajax_form(form_id=this.getAttribute('id'), form_url=this.getAttribute('action'), method='post', table_id=this.getAttribute('data-table'))"
      th:object="${joinConditionSaveForm}">
    <div class="join-form-group" th:if="${column.foreignKey != null}">
        <input type="hidden" name="columnName" th:value="${column.name}">
        <input type="hidden" th:id="|foreign-key-type-${index}|" name="conditionType" value="FOREIGN_KEY"
               class="form-control-sm"
               th:placeholder="#{required.conditionSaveForm.foreignKeyConditionType}">

        <label class="mt-3" th:for="|join-template-name-${index}|">조인 템플릿</label>
        <input th:id="|join-template-name-${index}|" name="templateName"
               class="form-control-sm" th:value="${column.foreignKey.conditionTerm.argument}"
               th:placeholder="#{required.joinConditionSaveForm.template}">
        <br>
        <label class="mt-3" th:for="|join-column-name-${index}|">조인 칼럼</label>
        <input th:id="|join-column-name-${index}|" name="columnName"
               class="form-control-sm" th:value="${column.foreignKey.referenceColumn}"
               th:placeholder="#{required.joinConditionSaveForm.column}">
        <hr>
        <label class="mt-3" th:for="|join-update-mode-${index}|">수정 모드</label>
        <input th:id="|join-update-mode-${index}|" name="updateMode" th:value="${column.foreignKey.updateMode}"
               class="form-control-sm"
               th:placeholder="#{required.joinConditionSaveForm.updateMode}">
        <div class="mt-3" style="width:300px;"
             th:insert="~{/fragment/table::promptTable(name='joinOptions', items=${updateOptionTypes}, input_id=|join-update-mode-${index}|, another_input_id=|join-delete-mode-${index}|)}"></div>
        <hr>
        <label th:for="|join-delete-mode-${index}|">삭제 모드</label>
        <input th:id="|join-delete-mode-${index}|" name="deleteMode" th:value="${column.foreignKey.deleteMode}"
               class="form-control-sm"
               th:placeholder="#{required.joinConditionSaveForm.deleteMode}">
        <div class="mt-3" style="width:300px;"
             th:insert="~{/fragment/table::formTable(name='joinOptions', items=${deleteOptionTypes}, input_id=|join-delete-mode-${index}|, form_id=|join-column${index}|)}"></div>
    </div>
</form>

<form th:fragment="file-search-form(action, table_id, form_id)" th:id="${form_id}"
      th:data-table="${table_id}" method="get" th:action="${action}" th:object="${entitySearchForm}"
      onsubmit="return ajax_form(form_id=this.getAttribute('id'), form_url=this.getAttribute('action'), method=this.getAttribute('method'), table_id=this.getAttribute('data-table'));">
    <br>
    <span>
        <input id="search-input" th:field="*{name}" class="w-75 form-control d-inline-block"
               th:data-form-id="${form_id}"
               oninput="submit_form(this.getAttribute('data-form-id'))" th:placeholder="#{required.template.name}">
        <button class="bg-white ms-3" type="button"><img src="/images/search.gif" style="width:30px; height:30px;"
                                                         alt="missing"></button>
    </span>
    <input type='hidden' name="fragment" th:value="${table_id}">
</form>

<form th:fragment="sidebar-file-search-form(action, table_id, form_id)" th:id="${form_id}"
      th:data-table="${table_id}" method="get" th:action="${action}" th:object="${entitySearchForm}"
      onsubmit="return ajax_form(form_id=this.getAttribute('id'), form_url=this.getAttribute('action'), method=this.getAttribute('method'), table_id=this.getAttribute('data-table'));">
    <input id="sidebar-search-input" th:field="*{name}" class="w-75 form-control d-inline-block"
           th:data-form-id="${form_id}" oninput="submit_form(this.getAttribute('data-form-id'))"
           th:placeholder="#{required.file.name}">
    <input type='hidden' name="fragment" th:value="${table_id}">
    <button class="bg-white ms-3" type="button"><img src="/images/search.gif" style="width:30px; height:30px;"
                                                     alt="missing"></button>
</form>

<!--  폼 기능 x -->
<form th:fragment="sidebar-file-view-form(files)" th:id="${form_id}" method="post"
      th:action="${action}" th:object="${entitySearchForm}">
    <div>
        <input type="hidden" id="sidebar-search-file" name="name" value="">
        <table th:replace="~{/fragment/table::sideBarFileTable(files=${files})}"></table>
    </div>
</form>

<!--  폼 기능 x -->
<form th:fragment="file-view-form(files, action, form_id)" th:id="${form_id}" method="post"
      th:action="${action}" th:object="${entitySearchForm}">
    <input type="hidden" id="search-file" name="name" value="">
    <input type='hidden' name="fragment" th:value="${table_id}">
    <table th:replace="~{/fragment/table::fileTable(files=${files}, input_id='search-file', form_id=${form_id})}"></table>
</form>

<form th:fragment="sidebar-template-view-form(templates, action, form_id)" th:id="${form_id}" method="post"
      th:action="${action}" th:object="${entitySearchForm}">
    <input type="hidden" th:id="|input-${form_id}|" name="name" value="">
    <input type='hidden' name="fragment" th:value="${table_id}">
    <table th:replace="~{/fragment/table::templateTable(templates=${templates}, input_id=|input-${form_id}|, form_id=${form_id})}"></table>
</form>


<form th:fragment="template-view-form(templates, action, form_id)" th:id="${form_id}" method="post"
      th:action="${action}" th:object="${entitySearchForm}">
    <input type="hidden" th:id="|input-${form_id}|" name="name" value="">
    <input type='hidden' name="fragment" th:value="${table_id}">
    <table th:replace="~{/fragment/table::templateTable(templates=${templates}, input_id=|input-${form_id}|, form_id=${form_id})}"></table>
</form>


<form th:fragment="column-radio-form(templateName, items, action, form_id, table_id)" th:id="${form_id}"
      th:data-table="${table_id}" method="post" th:action="${action}" th:object="${queryBlockForm}"
      onsubmit="return ajax_form(form_id=this.getAttribute('id'), form_url=this.getAttribute('action'), method=this.getAttribute('method'), table_id=this.getAttribute('data-table'));">
    <table th:replace="~{/fragment/table::radioFormTable(name='선택 칼럼', columns=${columns}, form_id=${form_id})}"></table>
    <input type="hidden" name="sqlBlockType" th:value="${block.sqlBlockType}">
    <input type="hidden" name="sqlBlockOrder" th:value="${stat.index}">
    <input type="hidden" name="sqlDataOrder" th:value="${substat.index}">
</form>

<form th:fragment="column-check-form(templateName, columns, action, form_id, table_id)" th:id="${form_id}"
      th:data-table="${table_id}" method="post" th:action="${action}" th:object="${queryBlockForm}"
      onsubmit="return ajax_form(form_id=this.getAttribute('id'), form_url=this.getAttribute('action'), method=this.getAttribute('method'), table_id=this.getAttribute('data-table'));">
    <table th:replace="~{/fragment/table::checkFormTable(name='선택 칼럼', columns=${columns}, form_id=${form_id})}"></table>
    <input type="hidden" id="name" name="templateName" th:value="${templateName}">
</form>
</body>
</html>