<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <div th:fragment="sidebar" class="d-flex d-flex flex-column flex-shrink-0 p-3 text-white bg-dark overflow-auto" style="position: fixed; width: 300px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">EasyToDataBase</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto accordion">
          <li class="nav-item accordion-item bg-dark" style="border: none">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                <img src="/images/drive.png" width="30" height="30" class="d-inline-block">Google Driver
              </button>
              <!--<a th:href="|/template/add_template/${memberId}|" class="nav-link active" aria-current="page">-->
              <!--<svg class="bi me-2" width="16" height="16"></svg>-->
              <!--</a>-->
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body bg-dark">
                <div class="sidebar">
                  <hr>
                  <div th:insert="~{/fragment/form::sidebar-file-search-form(action=|/template/search_file/${memberId}|, table_id='sidebar-google-drive-section', form_id='drive-search-form', anchor_class='sidebar')}"></div>
                  <br>
                  <div id="sidebar-google-drive-section" style="border: none; width: 500px;" th:insert="~{/fragment/form::sidebar-file-view-form(files=${files})}"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item accordion-item bg-dark" style="border: none">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                <img src="/images/sheet.png" width="30" height="30" class="d-inline-block">Template Repository
              </button>
              <!--<a th:href="|/template/add_template/${memberId}|" class="nav-link active" aria-current="page">-->
              <!--<svg class="bi me-2" width="16" height="16"></svg>-->
              <!--</a>-->
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body bg-dark">
                <div class="sidebar">
                  <hr>
                  <div th:insert="~{/fragment/form::sidebar-file-search-form(action=|/template/search_templates/sidebar/${memberId}|, table_id='sidebar-entity-view-section', form_id='sidebar-entity-repo-search-form')}"></div>
                  <br>
                  <div id="sidebar-entity-view-section" style="border: none; width: 500px;" th:insert="~{/fragment/form::sidebar-file-view-form(files=${templates})}"></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a th:href="|/template/add_template/${memberId}|" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Document Builder
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" onclick="toggle_popup('sidebar', 'pop-hide')">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              Template Builder
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/img.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Young Soo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="https://github.com/algoliath/demo">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </div>
      </div>
</body>
</html>