<!DOCTYPE html>
<html th:replace="~{template/layout/templateLayout::layout(~{::style#style}, ~{::section#header}, ~{::section#body}, ~{::section#footer}, ~{::section#sidebar})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<style id="style">
    root {
        color: black;
    }

    #sidebar .accordion-button {
        background-color: mediumspringgreen !important;
    }

    #sidebar .accordion-body {
        background-color: mediumspringgreen !important;
    }
</style>

<section id="sidebar">
    <div th:insert="~{fragment/sidebar::sidebar}"></div>
</section>

<section id="header"></section>
<!-- ADD TEMPLATE FORM -->
<section id="body">
    <!-- ADD TEMPLATE ATTRIBUTE -->
    <div class="template-form base pop-up">
        <div class="row" style="width: 1200px;">
            <div class="py-5 text-center d-sm-flex justify-content-center align-items-center">
                <h2 style="color: black; font-weight: lighter; font-size: 35px;">BUILD ENTITY</h2>
                <img src="/images/template.png" class="py-4 card-img" style="width:100px; height:150px; border:none;">
            </div>
            <div class="col container">
                <div th:insert="~{/fragment/frame::view_template(${sourceId})}"></div>
            </div>
            <div class="col-3 container" style="background-color: mediumspringgreen;"
                 th:with="form_action=${sourceId}? '/template/entity/sync_entity/' + ${memberId} + '':'/template/entity/add_entity/' + ${memberId} + ''">
                <div th:insert="~{/fragment/form::entity(${form_action})}"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div id="edit-column" th:insert="~{components/columnForm::column(${template.columnUpdateForms.columnUpdateFormList})}"></div>
        </div>
    </div>
    <!-- SEARCH TEMPLATE FILE FORM -->
    <div class="container border-dark pop-hide add m-auto text-center">
        <div class="container border-white" style="width:500px">
            <div class="flex-box-center"
                 th:insert="~{/fragment/form::file-search-form(action=|/template/search_templtes/mainframe/${memberId}|, table_id='mainframe', form_id='file-search-form')}"></div>
            <hr>
            <div id="mainframe" class="mt-3"
                 th:insert="~{/fragment/form::template-view-form(templates=${templates}, action=|/template/entity/load_file/${memberId}|, form_id='file-search-form')}"></div>
        </div>
    </div>
</section>

<section id="footer" th:if="${template != null && template.spreadSheetTable != null}">
    <div class="d-flex justify-content-center border-white">
        <div class="row">
            <div class="col">
                <form id="save-template-form" th:action="|/template/entity/save_template/${memberId}|">
                    <button type="submit" class="w-100 p-3 btn btn-primary" th:text="#{save}"></button>
                </form>
            </div>
            <div class="col">
                <button class="w-100 p-3 btn btn-primary" th:onclick="|location.href='@{/}'|"
                        th:text="#{return}"></button>
            </div>
        </div>
    </div>
</section>
</body>
</html>
