<!DOCTYPE html>
<html th:replace="~{template/layout/templateLayout::layout(~{::section#add_template}, ~{::section#add_columns}, ~{::section#update_columns}, ~{::section#save_template})}"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<!-- ADD TEMPLATE FORM -->
<section id="add_template">
    <!-- ADD TEMPLATE ATTRIBUTE -->
    <div class="template-form base pop-up">
        <div class="row" width="1300px">
            <div class="col container">
                <div th:insert="~{/fragment/frame::view_template(${sourceId})}"></div>
            </div>
            <div class="col-4 container" style="background-color: mediumspringgreen;" th:with="form_url=${sourceId}? '/template/entity/sync_entity/' + ${memberId} + '':'/template/entity/add_entity/' + ${memberId} + ''">
                <div th:insert="~{/fragment/form::entity(${form_url})}" ></div>
<!--                <div th:insert="~{/fragment/form::entity(${form_url})}></div>-->
            </div>
        </div>
    </div>
    <!-- ADD TEMPLATE FILE FORM -->
    <div class="template-form container border-white add pop-hide">
        <div class="container border-white" style="width:500px">
            <div class="flex-box-center text-center" th:insert="~{/fragment/form::file-search-form(action=|/template/entity/add_entity/${memberId}|, table_id='add-section', form_id='file-search-form', anchor_class='template-form')}"></div>
            <hr>
            <div id="add-section" th:insert="~{/fragment/frame::search_template(action=|/template/entity/add_entity/${memberId}|, table_id='edit-column', form_id='file-view-form')}"></div>
        </div>
    </div>
    <!-- JOIN TEMPLATE FILE FORM -->
    <div class="template-form container border-white join pop-hide">
        <div class="container border-white" style="width:500px">
            <div th:replace="~{/fragment/form::file-search-form(action=|/template/entity/search_entity/memberId|, table_id='join-section', form_id='join-file-search-form', anchor_class='template-form')}"></div>
            <hr>
            <div id="join-section" th:insert="~{/fragment/frame::join_template(action=|/template/entity/join_template/memberId|, table_id='join-section', form_id='join-file-view-form')}"></div>
        </div>
    </div>
</section>

<!-- EDIT COLUMN FORM -->
<section id="update_columns">
    <style>
        root{
            color: black;
        }
        .accordion-button{
            background-color: mediumspringgreen!important;
        }
    </style>
    <div th:insert="~{/fragment/form:: column}" class="template-form base pop-up"></div>
</section>

<section id="add_columns">
<!--    <div class="container fixed-container" th:if="${template.spreadSheetTable!=null}">-->
<!--        <form id="column__update__form" th:action="|/template/entity/add_column/${memberId}|" method="POST" th:object="${columnSaveForm}">-->
<!--            <div th:if="${#fields.hasGlobalErrors()}">-->
<!--                <p class="field-error" th:each="error : ${#fields.globalErrors()}" th:text="${error}">글로벌 오류 메시지</p>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <label for="name" th:text="#{column.name}"></label>-->
<!--                    <input type="text" id="name" th:field="*{name}" class="form-control"-->
<!--                           th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.name}">-->
<!--                    <div th:replace="/template/tables::columnEntry('name','column-save')"></div>-->
<!--                    <div class="field-error" th:errors="*{name}">칼럼이름 오류</div>-->
<!--                    <br>-->
<!--                    <label for="type" th:text="#{column.type}"></label>-->
<!--                    <input type="text" id="type" th:field="*{type}" class="form-control"-->
<!--                           th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.type}">-->
<!--                    <div class="field-error" th:errors="*{type}">칼럼타입 오류</div>-->
<!--                </div>-->
<!--                <div class="col-sm">-->
<!--                    <button type="button" style="margin-top: 265px;" class="accordion-button">-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="col-sm">-->
<!--                    <div>-->
<!--                        <button class="w-100 btn btn-dark" style="margin-top: 265px" type="submit" name="submit" value="add" th:text="#{add.column}">-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
</section>

<section id="save_template">
    <div class="base">
        <div class="container" style="display:sticky; position:bottom; border:none; width:500px;" th:if="${template} and ${template.spreadSheetTable != null}">
            <div class="row">
                <div class="col">
                    <form th:action="|/template/entity/save_template/${memberId}|" method="GET">
                        <button class="w-100 btn btn-dark" value="save" th:text="#{save}"></button>
                    </form>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-dark" th:onclick="|location.href='@{/}'|" th:text="#{return}"></button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
