<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            justify-content: center;
        }
        td{
            width: 20px;
            height: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

   <table th:fragment="tables" class="table-bordered" id='table_header'>
       <thead th:each="row, rowStat: ${template.spreadSheetTable.tableElements}">
           <tr style="background-color:green;">
               <div th:each="column: ${row}" th:if="${rowStat.index} eq 0">
                   <th><input type="button" class="form-control" th:value="${column}"></th>
               </div>
           </tr>
       </thead>
       <tbody th:each="row, rowStat: ${template.spreadSheetTable.tableElements}">
           <tr>
               <div th:each="column: ${row}" th:if="${rowStat.index} ne 0">
                   <td th:text="${column}"></td>
               </div>
           </tr>
       </tbody>
   </table>

   <table th:fragment="columns(input_id)">
       <tbody th:each="row, rowStat: ${template.spreadSheetTable.tableElements}">
           <tr th:each="col, colStat: ${row}" th:if="${rowStat.index} == 0">
               <button type="submit" th:data-input="${input_id}" th:data-value="${col}"
                       th:onclick="insert(this.getAttribute('data-input'), this.getAttribute('data-value'))"
                       class="form-control" th:text="${col}">
       </tbody>
   </table>

</body>
</html>