<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title<</title>
    <script>
    </script>

</head>
<body>
    <div th:fragment="template">
        <form th:action="|/template/entity/add_entity/${memberId}|" class="header" method="POST">
            <div class="row">
                <div class="col">
                    <label class="label1">구글 스프레드시트 제목</label>
                    <input type="text" id="search-title" class="form-control"
                           th:name="spreadSheetTitle" th:value="${template.spreadSheetTitle}"
                           th:placeholder="#{required.spreadSheet.title}">
                    <label class="label2">구글 스프레드시트 범위</label>
                    <input type="text" id="search-range" class="form-control"
                           th:name="spreadSheetRange" th:value="${template.spreadSheetRange}"
                           th:placeholder="#{required.spreadSheet.range}">
                    <br>
                    <button type="submit" class="w-100 btn btn-dark btn-lg" th:text="#{settings.entity}"></button>
                </div>
            </div>
        </form>
        <hr class="my-4">
        <table th:replace="/template/entity/spreadsheet::tables"></table>
   </div>

  <section th:fragment="columns" class="container">
      <div th:each="column, stat: ${columns}">
          <form th:action="|/template/entity/edit_column/${memberId}|" method="POST">
              <div class="container-lg">
                  <div class="row">
                      <div class="col">
                          <label for="update__name" th:text="#{column.name}"></label>
                          <input type="text" id="update__name" th:name="name" th:value="${column.name}" class="form-control">
                          <label for="update__type" th:text="#{column.type}"></label>
                          <input type="text" id="update__type" th:name="type" th:value="${column.type}" class="form-control">
                          <input type="hidden" id="last__name" th:name="lastName" th:value="${column.name}">
                      </div>
                      <div class="col">
                          <button class="accordion-button"></button>
                          <table id="update"></table>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <button type="submit" class="form-control" th:text="#{update}"></button>
                      </div>
                      <div class="col">
                          <button type="submit" class="form-control" th:text="#{delete}"></button>
                      </div>
                  </div>
              </div>
          </form>
          <br><div>
          </div>
      </div>
  </section>

  <div th:fragment="add_column" class="container">
      <form id="saveForm" th:action="|/template/entity/add_column/${memberId}|" method="POST" th:object="${columnSaveForm}">
          <div th:if="${#fields.hasGlobalErrors()}">
              <p class="field-error" th:each="error : ${#fields.globalErrors()}"
                 th:text="${error}">글로벌 오류 메시지</p>
          </div>
          <div class="row">
              <div class="col">
                  <label for="name" th:text="#{column.name}"></label>
                  <input type="text" id="name" th:field="*{name}" class="form-control"
                         th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.name}">
                  <div class="field-error" th:errors="*{name}">상품이름 오류</div>
                  <label for="type" th:text="#{column.type}"></label>
                  <input type="text" id="type" th:field="*{type}" class="form-control"
                         th:errorclass="field-error" th:placeholder="#{required.columnSaveForm.type}">
                  <div class="field-error" th:errors="*{type}">상품타입 오류</div>
              </div>
              <div class="col">
                  <button type="button" class="accordion-button" onclick="select('save')"></button>
                  <table id="save" th:replace="/template/entity/spreadsheet::columns('name')"></table>
              </div>
          </div>
          <br><div><button class="w-100 btn btn-dark btn-lg" type="submit" name="submit" value="add" th:text="#{add.column}"></button></div>
      </form>
  </div>
</body>
</html>